* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* Header */

header {
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: cover;
    width: 100%;
    height: 95vh;
    position: relative;
    padding: 40px 20px 0px;
}

.desktop-nav {
    display: none
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 70%
}

.close-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.title-container {
    border: 2px solid #ffffff;
    width: 87%;
    padding: 25px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 2.1rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

/* End Header Section */

/* --------------------------------------------- */

/* Section Leader */

.section-leader {
    width: 100%;
    margin: 120px auto;
}

.section-leader img {
    width: 87%;
    display: block;
    margin: 0 auto;
}

.section-leader h3,
.section-creations h3 {
    font-size: 2.1rem;
    font-weight: 300;
    color: hsl(0, 0%, 0%);
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0px 20px;
}

.section-leader p {
    font-family: 'alata', sans-serif;
    color: hsl(0, 0%, 55%);
    font-size: 15px;
    text-align: center;
    padding: 0px 20px;
    margin: 20px auto;
    line-height: 27px;
    max-width: 335px;
}

/* End Interactive Section */

/* --------------------------------------------- */

/* Our Creations Section */
.section-creations {
    width: 100%;
    margin-bottom: 120px;
}

.desktop-button {
    display: none;
}

.desktop-cards {
    display: none;
}

.mobile-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
}

.card {
    position: relative;
    width: 100%;
}

.card img {
    filter: brightness(0.4);
    width: 100%;
}

.card h4 {
    position: absolute;
    top: 40%;
    left: 7%;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    width: 125px;
}

.card .grid-title {
    width: 50px
}

button {
    border: 1.5px solid #000;
    background-color: #fff;
    width: 50%;
    padding: 15px 30px;
    margin: 40px auto 0px;
    display: block;
}

.section-creations button p {
    color: #000;
    letter-spacing: 5.5px;
    font-family: 'alata', sans-serif;
    font-weight: bold;
}

/* End Our Creations Section */

/* --------------------------------------------- */

/* Footer Section */
footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
}

.footer-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-right-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-logo {
    margin-bottom: 20px;
    width: 170px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer li {
    font-family: 'alata', sans-serif;
    font-weight: bold;
    text-align: center;
}

.footer-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icons img {
    width: 20px;
}

footer p {
    color: #6e6e6e;
    font-weight: bold;
    font-family: 'alata', sans-serif;
}

/* End Footer Section */

/* --------------------------------------------- */

/* Mobile Collapsible Menu */

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 100;
    display: none;
}

.mobile-menu.active {
    display: block;
    animation: slideIn 0.4s ease-in-out forwards;
}

.mobile-menu.close {
    animation: slideOut 0.4s ease-in-out forwards;
}

.mobile-menu.active ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 120px;
    padding-left: 20px;
}

.mobile-menu.active li {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.close-icon {
    display: none;
}

.menu-icon.hidden {
    display: none;
}

.close-icon.visible {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 200;
}

.nav-logo.visible {
    position: absolute;
    width: 134.39px;
    top: 40px;
    left: 20px;
    z-index: 200;
}

body.no-scroll {
    overflow: hidden;
}

/* Animación de entrada */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animación de salida */
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}


/* --------------------------------------------- */

/* MediaQueries */

@media (min-width: 375px) {

    h2 {
        font-size: 2.5rem;
    }

}

/* --------------------------------------------- */

@media (min-width: 425px) {

    .title-container {
        max-width: 360px;
    }

    h2 {
        font-size: 2.8rem;
    }
}

/* --------------------------------------------- */

@media (min-width: 768px) {

    /* Header */
    header {
        background-image: url('./images/desktop/image-hero.jpg');
        background-position: center;
        height: 500px;
        padding: 40px 5% 0px;
    }

    .title-container {
        max-width: 365px;
        left: 220px;
        padding: 20px;
    }

    .menu-icon {
        display: none
    }

    .desktop-nav {
        display: flex;
        gap: 15px;
        color: #fff;
    }

    /* Section Leader */

    .section-leader {
        position: relative;
        margin: 160px auto;
        padding: 0px 40px;
        max-width: 770px;
    }

    .section-leader img {
        width: 60%;
        margin: 0px;
    }

    .section-leader div {
        position: absolute;
        background-color: #fff;
        width: 400px;
        bottom: -30px;
        right: 0px;
        padding: 30px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .section-leader h3 {
        text-transform: uppercase;
        text-align: left;
        margin: 0px;
    }

    .section-leader p {
        color: hsl(0, 0%, 55%);
        font-size: 12px;
        text-align: left;
        line-height: 20px;
        margin: 0px;
        padding: 0px;
        max-width: none;
    }

    /* Section Creations */

    .section-creations {
        margin: 120px auto 120px;
        max-width: 770px;
    }

    .section-creations-header {
        max-width: 770px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 42px;
        margin-bottom: 40px;

    }

    .section-creations h3 {
        margin: 0;
        padding: 0;
    }

    .section-creations button {
        margin: 0px;
        padding: 10px;
    }

    .desktop-button {
        display: block
    }

    .mobile-button {
        display: none;
    }

    .mobile-cards {
        display: none;
    }

    .desktop-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        margin: 0px 25px;
    }

    .card {
        width: 22%;
    }

    .desktop-cards img {
        width: 100%;
    }

    .card h4 {
        top: 220px;
        left: 18px;
    }

    button {
        width: 25%;
    }

    /* Footer */

    .footer-logo {
        width: 30%
    }
}

/* --------------------------------------------- */

@media (min-width: 1024px) {

    /* Header */

    header {
        height: 600px;
        /* padding: 40px 120px; */
    }

    .nav-logo {
        width: 100%;
    }

    nav li {
        font-size: 1.2rem;
    }

    .title-container {
        left: 230px;
    }

    /* Section Leader & Creations */

    .section-leader,
    .section-creations {
        width: 100%;
        max-width: 1095px;
        padding: 0px 50px;
    }

    .section-leader div {
        width: 50%;
        bottom: -45px;
        right: 0px;
        margin: 0px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .section-leader img {
        width: 65%;
    }

    .section-leader h3,
    .section-creations h3 {
        font-size: 2.5rem;
    }

    .section-leader p {
        font-size: 1rem;
        line-height: 24px;
    }

    .section-creations-header {
        max-width: 1024px;
        padding: 0px;
    }

    .desktop-button {
        width: 22%;
    }

    .desktop-cards {
        margin: 0;
        gap: 36px;
    }

    .card h4 {
        top: 270px;
    }

    /* Footer */
    footer {
        flex-direction: row;
    }

    .footer-left-side,
    .footer-right-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0px 50px;
    }

    .footer-left-side {
        align-items: flex-start;
    }

    .footer-right-side {
        align-items: flex-end;
    }

    .footer-logo {
        width: 50%;
        margin-bottom: 0px;
        ;
    }

    footer div ul {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .footer-icons {
        flex-direction: row;
        justify-content: flex-end;
        padding: 0px
    }

    .footer-icons img {
        width: 24px;
    }

    footer li {
        font-size: 18px;
    }

    /* Hoover Effect nav */
    #desktop-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    #desktop-nav li {
        position: relative;
    }

    #desktop-nav a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        position: relative;
        display: inline-block;
        transition: color 0.3s ease-in-out;
    }

    #desktop-nav a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.3s ease-in-out;
    }

    #desktop-nav a:hover::after {
        width: 100%;
    }

    /* Hover Button Effect */
    button {
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }

    .section-creations button p {
        transition: color 0.5s ease;
    }

    button:hover {
        background-color: #000;
    }

    button:hover p {
        color: #fff;
    }

    /* Hover Effect Cards */

    .card:hover img {
        filter: brightness(0.7);
    }

    .card:hover::after {
        opacity: 1;
    }

    .card:hover h4 {
        color: #000;
    }

    .card::after {
        cursor: pointer;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    .card h4 {
        transition: color 0.3s ease;
        z-index: 2;
    }

    /* Hover Footer Effects */
    .footer-left-side li {
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease-in-out;
    }

    .footer-left-side li::after {
        content: '';
        position: absolute;
        bottom: -2px;
        /* Línea justo debajo del texto */
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        /* Color del subrayado */
        transition: width 0.3s ease-in-out;
    }

    .footer-left-side li:hover::after {
        width: 100%;
        /* La línea se extiende al 100% en hover */
    }
}

/* --------------------------------------------- */

@media (min-width: 1440px) {

    header {
        padding: 40px 10%;
        height: 700px;
    }

    .title-container {
        left: 25.9%;
        max-width: 465px;
    }

    header h2 {
        font-size: 3.5rem
    }

    .section-leader,
    .section-creations,
    .section-creations-header {
        max-width: 1440px;
    }

    .section-leader,
    .section-creations {
        width: 85%;
    }

    .desktop-cards {
        gap: 44px;
    }

    .card h4 {
        top: 360px;
    }

    footer {
        padding: 40px 8%;
    }
}

/* --------------------------------------------- */

@media (min-width: 1920px) {
    .title-container {
        left: 22%;
    }

    #desktop-nav a {
        font-size: 22px;
    }

    .section-creations,
    .section-creations-header,
    .section-leader {
        max-width: 1920px;
    }

    .section-creations,
    .section-leader {
        margin-top: 320px;
        ;
    }

    .section-leader div {
        width: 850px;
        height: 260px;
    }

    .section-leader p {
        font-size: 24px;
        line-height: 32px;
    }

    .desktop-button {
        height: 50px;
    }

    .desktop-button p {
        font-size: 18px;
    }

    .desktop-cards {
        gap: 61px;
    }

    .card h4 {
        font-size: 32px;
        width: 180px;
        top: 80%;
        left: 10%;
    }

    .footer-icons img {
        width: 32px;
    }

    footer p {
        font-size: 18px;
    }

}

/* --------------------------------------------- */

@media (min-width: 2560px) {
    header {
        padding-top: 80px;
        height: 1050px;
    }

    .nav-logo {
        width: 150%;
    }

    .title-container {
        left: 600px;
        max-width: 700px;
    }

    header h2 {
        font-size: 5.5rem;
    }

    #desktop-nav {
        gap: 42px;
    }

    #desktop-nav a {
        font-size: 32px;
    }

    .section-creations,
    .section-leader,
    .section-creations-header {
        max-width: 2560px;
        margin-top: 400px;
    }

    .section-leader div {
        height: 460px;
        width: 1050px;

    }

    .desktop-button {
        height: 70px;
    }

    .desktop-button p {
        font-size: 24px;
    }

    .section-leader h3,
    .section-creations h3 {
        font-size: 4.5rem;
    }

    .section-leader p {
        font-size: 32px;
        line-height: 45px;
        font-weight: light;
    }

    .desktop-cards {
        gap: 83px;
    }

    .card h4 {
        width: 290px;
        font-size: 3.5rem;
        top: 80%;
        left: 5%;
    }

    footer li {
        font-size: 24px;
    }

    .footer-icons img {
        width: 42px;
    }

    footer p {
        font-size: 24px;
    }
}

/* --------------------------------------------- */